@charset "UTF-8";
*,
*::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  /*płynne przewijanie strony*/
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: rgba(102, 90, 90, 0.233);
  position: relative;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 20px;
}

@media (max-width: 767px) {
  .header {
    display: block;
  }
}

.header__link {
  text-decoration: none;
}

.header__caption {
  color: #2d3b77;
  text-shadow: 2 2px 6px 0 #a3f302;
}

.form__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 767px) {
  .form__area {
    display: block;
  }
}

.form {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: rgba(97, 97, 46, 0.336);
  -webkit-box-shadow: 0 2px 4px gray;
          box-shadow: 0 2px 4px gray;
  margin: 0 20px;
  padding: 10px;
}

@media (max-width: 767px) {
  .form {
    margin: 20px auto;
  }
}

.form--search {
  display: block;
}

.form--search .form__input--search {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

.form--search .form__submit {
  margin-top: 40px;
  width: 100%;
  border: none;
  padding: 10px;
  color: white;
  background-color: #592380;
}

.form--search .form__submit:hover {
  background-color: #7f6194;
}

.form__title {
  font-size: 15px;
  text-align: center;
}

.form__input {
  width: 40%;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.form__button {
  width: 100%;
  margin: 20px auto;
  border: none;
  padding: 10px;
  color: white;
  background-color: #592380;
}

.form__button:hover {
  background-color: #7f6194;
}

.section {
  max-width: 1200px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.section .result {
  width: 100%;
  height: 100px;
  background-color: rgba(13, 99, 13, 0.199);
  -webkit-box-shadow: 0 0 2px 8px #ddd;
          box-shadow: 0 0 2px 8px #ddd;
}

.section .content {
  width: 100%;
  height: 100px;
  background-color: rgba(124, 12, 59, 0.075);
  -webkit-box-shadow: 0 0 2px 8px #ddd;
          box-shadow: 0 0 2px 8px #ddd;
}

.section__button {
  margin-left: 25%;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 10px;
  color: white;
  background-color: #592380;
}

.section__button:hover {
  background-color: #7f6194;
}

.footer {
  background-color: #33333333;
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer:hover {
  font-size: 20;
}
/*# sourceMappingURL=style.css.map */