
.form__area {
    display: flex;
    justify-content: space-evenly;

}

@media (max-width:767px) {
    .form__area {
        display: block;
        
    }
}


.form {
    
    flex-basis: 40%;
    background-color: rgba(97, 97, 46, 0.336);
    box-shadow: 0 2px 4px gray;
    margin: 0 20px;
    padding: 10px;
}

@media (max-width:767px) {
    .form {
        margin: 20px auto;
    }
}


.form--serch {
    display: block;
    .form__input--serch {
        width: 100%;
        margin: 20px auto;
    }
    .form__submit {
        width: 100%;
    }
}
.form__title{
    font-size: 15px;
    text-align: center;
}
.form__input {
    width: 40%;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.form__button {
   width: 100%;
   margin: 20px auto;
   border: none;
   background-color: rgb(89, 35, 128);
   &:hover {
       background-color: rgb(127, 97, 148);
   }
}


.form__input--serch {
   
}


.submit {
   
}