
*::after,
::before {
    box-sizing: border-box;
    scroll-behavior: smooth; /*płynne przewijanie strony*/
}


body {
    font-family: sans-serif;
    font-size: 16px;
    background-color:$bg-top-color ;
    position: relative;
}

