$bg-top-color: rgba(102, 90, 90, 0.233);
$bg-bottom-color: rgb(182, 88, 88);
$bg-linear__gradient: linear-gradient(top, rgba(137,168,113,1) 0%, rgba(24,46,5,1) 75%, rgba(24,46,5,1) 88%);
$font-color: rgb(157, 194, 183);
$default-font: 'Lato', sans-serif;
